footer {
    padding-top: 40px;
    padding-bottom: 100px;
    margin: auto 145px;
    display: flex;
    justify-content: space-around;
    gap: 3vw;
}

.footer-navs-container {
    display: flex;
    justify-content: space-around;
    gap: 3vw;
}

fieldset {
    border: solid 1px black;
    padding: 10px;
    width: 430px;
}

input[type=email] {
    border: none;
    display: inline;
    padding-right: 40px;
}

#sign-up {
    font-weight: 700;
    font-size: 14px;
}

#sign-up-button {
    border: none;
    font-weight: 700;
    margin-left: 100px;
    background-color: white;
}

#sign-up-button:hover {
    cursor: pointer;
}

.sign-up h2 {
    font-size: 36px;
    font-weight: 700;
}

.sign-up p {
    font-weight: 400;
    padding: 20px 0;

}

.footer-titles {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 700;
}

.footer-nav a ul {
    padding: 5px 0;
    font-size: 16px;
}

.footer-nav a {
    text-decoration: none;
    color: #8c8c8c;
}

@media (max-width: 700px) {
    footer {
        padding-bottom: 10px;
        padding-top: 30px;
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }

    .sign-up {
        display: inline;
        text-align: center;
    }

    fieldset {
        margin: 0 auto;
        margin-bottom: 20px;

    }

    .footer-navs-container {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .footer-titles {
        margin-bottom: 10px;
    }
}
