@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');

.groupe-logo{
	display: flex;
	flex-direction : row;
	justify-content: center;
    flex-wrap: wrap;
    gap : 30px;
	}
.div-big-image{
    display: flex;
    justify-content: center;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.big-image{
    width: 80%;
}
.lien{
    color: black;
    border : solid black 1px;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
    text-decoration: none ;

}
.lien:hover{
    background-color: black;
    color: white ;
}
.le-texte{
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    margin-top : 66px;
    
}

.police-sans
{
    font-family: 'Public Sans';
    text-align: center;
    
}
.fontsize{
    font-size: 56px;
    
}