@import url('https://rsms.me/inter/inter.css');

header{
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #0D0D0D;
    border-bottom: 1px solid white;
}

.navbar-container{
    margin-left: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.navbar-link ul{
    display: flex;
    align-items: center;
    gap: 3vw;
    list-style-type: none;

}

.navbar-link{
    display: flex;
    align-items: center;
    gap: 3vw;
}


a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    letter-spacing: -0.6px;
    font-family: Inter;

}



#PageEnGras{
    font-size: 20px;
    font-weight: bolder;
}


.imageLoupe{
    font-size: 17px;
    width: 15.85px;
    height: 16px;
}

#recherche{
    position: absolute;
    background-color: #0D0D0D;
    color: grey;
    border: none;
    font-size: 17px;
    line-height: 21px;
    padding-left: 12.15px;
}

.navbar-right{
    display: flex;
    gap:22px;
    align-items: center;
    margin-right: 145px;

    
}

.pannier{
    display: flex;
    color: white;
    line-height: 21px;
    font-size: 17px;
    font-family: 'Inter';
    font-style: normal;
    gap: 7.72px;
    line-height: 21px;
    bottom: 0.06%;
    align-items: center;
}

.imageShop{
    width: 15.85px;
    height: 16px;

}

.navbar-container .Hamburger{
    width: 50px;
    height: 50px;
    display: none;
}

.navbar-link.mobile-menu{
    margin-left: 0;
}

#recherche{
    width: 100px;
}


@media (max-width: 870px) {

    .navbar-right{
        display: none;
    }

    .navbar-link{
        position:absolute;
    }

    .navbar-link ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-link{
        top: 0;
        left: 0;
        display: flex;
        background-color: #0D0D0D ;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ;
    }

    .navbar-container .Hamburger{
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 3%;

    }

    .navbar-container{

        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0;
    }

    .navbar-container .navbar-link ul li{
        margin: 40px 0;
        font-size: 1.8em;
        list-style-type: none;
    }

    .Hamburger{
        z-index: 2;
    }
    
     .search{
        display: none;
    }



}
