@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');
/*------------------------------------------------*/
/*               S I T E  E N T I E R             */
/*------------------------------------------------*/

/*CARACTERISTIQUE POUR TOUT LE SITE*/
body{
    font-family: 'Public Sans';
}

/*CARACTERISTIQUE POUR LA BALISE HR*/
hr{
    margin-top: 25px;
    margin-bottom: 15px;
}

/*CARACTERISTIQUE POUR LES BOUTON REMOVE*/
.remove{
    margin-left: 85%;
    position: relative;
    cursor: pointer;
 }

/*CARACTERISTIQUE POUR LES LIENS*/
.remove::after {
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .5em; 
    background: red;
    z-index: -1;
    opacity: 0.8;
    transition: transform .3s;
}

/*CARACTERISTIQUE POUR LES LIENS SURVOLER*/
.remove:hover::after {
    transform: scaleX(1);
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.container-flex{
    display: flex;
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.flex-wrap{
    flex-wrap: wrap;
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.justify-content-space-evenly{
    justify-content: space-evenly;
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.item-width{
    width: 35%;
}

/*CARACTERISTIQUE POUR LES BALISES UL*/
ul{
    margin: 0px;
}

/*CARACTERISTIQUE POUR LA BALISE MAIN*/
main{
    margin-bottom: 4%;
}

/*CARACTERISTIQUE POUR LA CLASSE CART1_P*/
.cart1_p{
    margin: 0px;
}

/*CARACTERISTIQUE POUR LA CLASSE CART1_H2*/
.cart1_h2{
    margin: 0px;
}

.gender{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*------------------------------------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*                   C A R T  1                   */
/*------------------------------------------------*/

/*CARACTERISTIQUE POUR TITRE H1*/
.cart1_h1{
    font-size: 40px;
}

/*MET SUR LA MEME LIGNE*/
.cart1_ligne {
    display: inline-block;
}

/*CARACTERISTIQUE POUR LES PRIX*/
.cart1_prix{
    font-size: xx-large;
}

/*CARACTERISTIQUE POUR TITRE H2*/
.cart1_titre2{
    margin-top: 10%;
}

/*CARACTERISTIQUE POUR LES IMAGES*/
.cart1_img{
    border-radius: 10px;
    margin-bottom: -25px;
    height: 163px;
    width: 163px;
    margin-right: 12px;
}

/*CARACTERISTIQUE POUR L'ACCORDION*/
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top: 2px solid #000;
}

/*CARACTERISTIQUE POUR L'ACCORDION*/
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
/*CARACTERISTIQUE POUR L'ACCORDION*/
.active:after {
    content: "\2212";
}
  
/*CARACTERISTIQUE POUR L'ACCORDION*/
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#hr{
    display: none;
}
/*------------------------------------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*              M E D I A   Q U E R Y             */
/*------------------------------------------------*/

/*RESEPONSIVE POUR TELEPHONE*/
@media all and (orientation:portrait){

    /*LONGEUR DES ITEMES*/
    .item-width {
        width: 100%;
    }

    /*PERMET DE PERMUTER LES CARDS*/
    #flex-categorie-cards {
        display: block;
    }

    /*CARACTERISTIQUE POUR MAIN*/
    main {
        margin: auto 30px;
        margin-top: 50px;
    }

    /*CARACTERISTIQUE POUR LA CLASS CART1_H1*/
    .cart1_h1 {
        font-size: 34px;
    }

    /*CARACTERISTIQUE POUR LA BALISE HR*/
    hr{
        margin-top: 43px;
        margin-bottom: 30px;
    }

    #hr{
        display: block;
    }

    .marge{
        margin-top: 355px;
    }

}


/*COUPON REDUCTION*/




#recherche {
  height: 40px;
  background:white;
  border-radius:0em;
  border: solid 1px black;
  }


    
  #recherche input {
  outline:0;
  border:0;
  margin:0;
  height:56px;
  display:block;
  }
    
  #recherche input[type=text] {
  font-size: 16px;
  background:none;
  width:180px;
  padding:0 22px;
  color:#666;
  height: 50px;
  font-family: 'Public Sans';
  border: none;
  }


  /* LIGNE DU PRIX */

  .prix {
    display: flex;
  }

  .price{
    margin-left: auto;
  }

  .shipping{
    display: flex;
  }

  .Calculated{
    margin-left: auto;
  }

  .total {
    display: flex;
  }

  .tot2{
    margin-left: auto;
  }

  .cart1_bouton {
    display: inline-block;
    background-color: #000;
    border: 0px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    width: 521px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    height: 0px;
    padding-bottom: 35px;
    padding-top: 13px;
    width: 100%;
    font-weight: 900;
  }














