

/*------------------------------------------------*/
/*               S I T E  E N T I E R             */
/*------------------------------------------------*/

/*CARACTERISTIQUE POUR TOUT LE SITE*/
body{
    font-family: 'Work Sans', sans-serif;
}



/*CARACTERISTIQUE POUR LES BOUTON REMOVE*/
.remove{
    margin-left: 85%;
    position: relative;
 }

/*CARACTERISTIQUE POUR LES LIENS*/
.remove::after {
    content: '';
    transform-origin: 0 0; 
    transform: scaleX(0);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .5em; 
    background: #78ab4e;
    z-index: -1;
    opacity: 0.8;
    transition: transform .3s;
}

/*CARACTERISTIQUE POUR LES LIENS SURVOLER*/
.remove:hover::after {
    transform: scaleX(1);
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.container-flex{
    display: flex;
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.flex-wrap{
    flex-wrap: wrap;
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.justify-content-space-evenly{
    justify-content: space-evenly;
}

/*CARACTERISTIQUE POUR LE RESPONSIVE*/
.item-width{
    width: 35%;
}

/*CARACTERISTIQUE POUR LES BALISES UL*/
ul{
    margin: 0px;
}

/*CARACTERISTIQUE POUR LA BALISE MAIN*/
main{
    margin-bottom: 4%;
}

/*CARACTERISTIQUE POUR LA CLASSE CART1_P*/
.cart1_p{
    margin: 0px;
}

/*CARACTERISTIQUE POUR LA CLASSE CART1_H2*/
.cart1_h2{
    margin: 0px;
}
/*------------------------------------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*                   C A R T  1                   */
/*------------------------------------------------*/

/*CARACTERISTIQUE POUR TITRE H1*/
.cart1_h1{
    font-size: 60px;
}

/*MET SUR LA MEME LIGNE*/
.cart1_ligne {
    display: inline-block;
}

/*CARACTERISTIQUE POUR LES PRIX*/
.cart1_prix{
    font-size: xx-large;
}

/*CARACTERISTIQUE POUR TITRE H2*/
.cart1_titre2{
    margin-top: 10%;
}

/*CARACTERISTIQUE POUR LES IMAGES*/
.cart1_img{
    border-radius: 10px;
    margin-bottom: -25px;
    height:150px; 
    width:150px;
}

/*CARACTERISTIQUE POUR L'ACCORDION*/
.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top: 2px solid #000;
}

/*CARACTERISTIQUE POUR L'ACCORDION*/
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
/*CARACTERISTIQUE POUR L'ACCORDION*/
.active:after {
    content: "\2212";
}
  
/*CARACTERISTIQUE POUR L'ACCORDION*/
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*------------------------------------------------*/
/*------------------------------------------------*/



/*------------------------------------------------*/
/*              M E D I A   Q U E R Y             */
/*------------------------------------------------*/



/*------------------------------------------------*/
/*------------------------------------------------*/
