@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Public Sans';
}

.box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

}

.block-left{
  margin: 0% 0% 5% ;
}


#img{
  width: 500px;
  height: 500px;
}

.block-right{
  margin: 0% 2% 5%;
}


#texte{
  width: 350px;
  margin-right: 5%;
}

#nombre{
  text-align: center;
  width: 150px;
  height: 15px;
}

#taille{
  text-align: center;
  width: 150px;
  height: 21px;

}

.annotation{
  color: grey;
}

#panier{
  background-color: black;
  color: white;
  margin: 1% 1% 1% 0;
  border: none;
  width: 150px;
  height: 50px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

#achat{
  background-color: blue;
  color: white;
  margin: 1%;
  border: none  ;
  width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;

}

#achat:hover{
  box-shadow: 10px 5px 5px skyblue;
  cursor: pointer;
}

#panier:hover{
  box-shadow: 10px 5px 5px darkgrey;
  cursor: pointer;
}

.material-symbols-outlined:hover{
  border-style: groove;
  border-radius: 5px;
  border-color: black;
  background-color: darkgrey;
  cursor: pointer;
}


@media (max-width: 1000px) {

  .block-right{
    width: auto;
  }

  .box-boutton{
    width: 100px;
  }

  #texte{
    width: auto;
    margin-right: 5%;
  }

  #nombre{
    margin-bottom: 10px;
  }

  #nombre{
    text-align: center;
    width: 142px;
    height: 15px;
  }

  #taille{
    text-align: center;
    width: 150px;
    height: 21px;
  }

  #panier{
    background-color: black;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
  }

  #achat{
    background-color: blue;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
  }

}


@media (max-width: 800px) {

  .box{
    display: flex;
    flex-wrap: wrap;
  }

  #img{
    width: 80%;
    height: 100%;
    margin: 0% 10% 2% 10%;
  }

  .block-right{
    float: none;
    width: auto;
  }

  #titre{
    text-align: center;
  }

  #prix{
    text-align: center;
  }

  #texte{
    text-align: justify;
  }

  #nombre{
    text-align: center;
    width: 142px;
    height: 15px;
  }

  #taille{
    text-align: center;
    width: 150px;
    height: 21px;
  }

  .box-boutton{
    width: auto;
    align-content: center;
    text-align: center;
  }


}
