@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');

* {
    font-family: 'Public Sans';
}

.box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

}

.block-left{
  margin: 0% 0% 5% ;
}

#img{
  width: 500px;
  height: 500px;
}

.flex-card {
  display: flex;
  align-items: center;
}

.block-right{
  margin: 0% 2% 5%;
}

#titre{
  font-size: 36px;
}

#prix{
  font-size: 24px;
}

#texte{
  font-size: 17px;
  width: 350px;
  margin-right: 5%;
}

.box-boutton{
  width: 300px;
  height: 60px;
  display: inline-flex;
}


#moins{
  background-color: white;
  border: none;
  font-size: 10px ;
  cursor: pointer;
}

#plus{
  background-color: white;
  border: none;
  font-size: 10px ;
  cursor: pointer;
}

#nombre{
  justify-content: center;
  width: 150px;
  height: 15px;
  display: flex;
  border: solid;
  border-width: 1px;
  height: 19px;
  margin-right: 15px;
}



#taille{
  text-align: center;
  width: 150px;
  height: 22px;
  display: flex;

}

.annotation{
  color: grey;
}

.box-boutton-bas{
  justify-content: center;
  margin-bottom: 100px;
}

#panier{
  background-color: black;
  color: white;
  margin: 1% 1% 1% 0;
  border: solid ;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 48%;
  text-align: center;
}

#achat{
  background-color: blue;
  color: white;
  margin: 1%;
  border: solid  ;
  padding: 10px;
  border-radius: 5px;
  width: 48%;
  text-align: center;


}

#achat:hover{
background-color: white;
border: solid ;
color: blue;
cursor: pointer;
}

#panier:hover{
  background-color: white;
  border: solid ;
  color: black;
  cursor: pointer;
}

#moins{
  cursor: pointer;
}

.material-symbols-outlined{
  margin: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  background-color: black;
}


@media (max-width: 1000px) {

  .block-right{
    width: auto;
  }

  .box-boutton{
    margin-left: 75px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #texte{
    width: auto;
    margin-right: 5%;
  }

  #nombre{
    justify-content: center;
    width: 150px;
    height: 15px;
    display: flex;
    border: solid;
    border-width: 1px;
    height: 19px;
    margin-right: 15px;
  }

  #taille{
    text-align: center;
    width: 150px;
    height: 22px;
    margin-top: 5px;
  }

  #panier{
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 100%
  }

  #achat{
    background-color: blue;
    color: white;
    border: none;
    border-spacing: 20px;
    margin-bottom: 10px;
    width: 100%
  }

}


@media (max-width: 800px) {

  .box{
    display: flex;
    flex-wrap: wrap;
  }

  #img{
    width: 80%;
    height: 100%;
    margin: 0% 10% 2% 10%;
  }

  .block-right{
    float: none;
    width: auto;
  }

  #titre{
    text-align: center;
  }

  #prix{
    text-align: center;
  }

  #texte{
    text-align: justify;
  }

  #nombre{
    text-align: center;
    width: 142px;
    height: 15px;
  }

  #taille{
    text-align: center;
    width: 150px;
    height: 21px;
  }

  .annotation{
    margin-bottom: 50px;
  }

  .box-boutton{
    width: auto;
    align-content: center;
    text-align: center;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  #nombre{height: 19px}

  #taille{height: 22px}

  #panier{
    width: 70%;
  }

  #achat{
    width: 50%;
  }


}
